body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul { margin: 0; padding: 0; border: 0; }

html { overflow-x: hidden; overflow-y: visible; -ms-overflow-style: none; overflow: -moz-scrollbars-none; }

html::-webkit-scrollbar { display: none; }

li, ul { list-style: none; }

a { color: white; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; color: #0052D9; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; color: #0052D9; }

.layout:after, .hd:after, .bd:after, .ft:after, .cf:after { content: ""; display: table; clear: both; }

.layout, .hd, .bd, .ft, .cf { *zoom: 1; }

.layout { margin: 0 auto; width: 1000px; }

.fl { float: left; }

.fr { float: right; }

.mt20 { margin-top: 20px; }

.mt30 { margin-top: 30px; }

img { border: none; }

@keyframes rotate { from { transform: rotateZ(0); }
  to { transform: rotateZ(360deg); } }

.BioLab_font.laboratory-page-setting { box-sizing: border-box; width: 1360px; height: 608px; background: #0d2a42; position: relative; }

.BioLab_font.laboratory-page-setting .content { margin: 0 10px; height: 608px; }

.BioLab_font.laboratory-page-setting .content > .fl { width: 20%; height: 100%; float: left; font-size: 20px; border: 2px #fff solid; position: relative; box-sizing: border-box; }

.BioLab_font.laboratory-page-setting .content > .fl > ul::-webkit-scrollbar { display: none; }

.BioLab_font.laboratory-page-setting .content > .fl > ul { width: 100%; height: 100%; position: relative; overflow-x: hidden; overflow-y: scroll; z-index: 5; }

.BioLab_font.laboratory-page-setting .content > .fl > ul > div { box-sizing: border-box; width: 100%; height: 60px; top: 0; left: 0; border: 3px solid #1e90ff; position: absolute; border-radius: 10px; z-index: -1; }

.BioLab_font.laboratory-page-setting .content > .fl > ul > li { text-align: center; line-height: 54px; color: #8a8a8a; position: relative; margin: 3px 3px; cursor: pointer; }

.BioLab_font.laboratory-page-setting .content > .fl > ul > .change { height: 54px; color: #fff; background: #09305f; border-radius: 10px; font-size: 24px; }

.BioLab_font.laboratory-page-setting .content > .fr { width: 80%; height: 100%; float: left; font-size: 20px; border: 2px #fff solid; position: relative; box-sizing: border-box; padding: 20px; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent { width: 100%; height: 100%; color: #fff; overflow-x: hidden; overflow-y: scroll; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent::-webkit-scrollbar { display: none; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > table { width: 100%; border: 2px solid #fff; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > table td { padding: 10px 0; border: 2px solid #fff; text-align: center; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > table td input { color: white; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > table td input:focus { box-sizing: border-box; border: 4px solid #1e90ff; color: #ffffff; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateversion { position: absolute; top: 30%; left: 13%; border-radius: 10px; padding: 10px; text-align: center; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateversion img { width: 70px; height: 70px; animation: rotate 1s infinite linear; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateversion p { margin-top: 20px; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateversion div { position: absolute; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.8); }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateoption { position: absolute; top: 10%; left: 50%; transform: translateX(-50%); width: 500px; height: 300px; background: #fff; box-shadow: #4e555b 5px 5px; border-radius: 10px; padding: 10px; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateoption .value { font-size: 20px; padding: 10px; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > .updateoption .value:focus { border: 4px solid #1e90ff; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > div { width: 50%; margin: 30px 0; float: left; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > div > span { font-size: 25px; line-height: 44px; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > div > .name { display: inline-block; width: 180px; text-align: right; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > div > input { box-sizing: border-box; font-size: 25px; margin: 0 10px; width: 173px; height: 54px; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > div > div { margin: 18px 0; }

.BioLab_font.laboratory-page-setting .content > .fr > .setContent > div > input:focus { border: 4px solid #1e90ff; }

.BioLab_font.laboratory-page-setting #keyboard { position: absolute; top: 0; left: 10px; z-index: 9; }
