body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul { margin: 0; padding: 0; border: 0; }

html { overflow-x: hidden; overflow-y: visible; -ms-overflow-style: none; overflow: -moz-scrollbars-none; }

html::-webkit-scrollbar { display: none; }

li, ul { list-style: none; }

a { color: white; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; color: #0052D9; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; color: #0052D9; }

.layout:after, .hd:after, .bd:after, .ft:after, .cf:after { content: ""; display: table; clear: both; }

.layout, .hd, .bd, .ft, .cf { *zoom: 1; }

.layout { margin: 0 auto; width: 1000px; }

.fl { float: left; }

.fr { float: right; }

.mt20 { margin-top: 20px; }

.mt30 { margin-top: 30px; }

img { border: none; }

.front.laboratory-keyboard { box-sizing: border-box; width: 340px; height: 520px; color: white; margin: 50px; border: 5px solid #c8cbcf; border-radius: 10px; position: relative; }

.front.laboratory-keyboard .backimage { width: 330px; height: 510px; z-index: -2; position: absolute; top: 0; left: 0; }

.front.laboratory-keyboard input { color: white; font-size: 30px; width: 320px; height: 60px; padding: 5px; box-sizing: border-box; margin: 5px; border-bottom: 1px solid #ffffff; background: rgba(0, 0, 0, 0); }

.front.laboratory-keyboard > div { position: absolute; z-index: 1; top: 0; right: 5px; color: red; line-height: 60px; font-size: 20px; }

.front.laboratory-keyboard ul { width: 330px; height: 440px; position: relative; }

.front.laboratory-keyboard ul > div { width: 120px; height: 120px; box-sizing: border-box; border: 2px solid #1e90ff; border-radius: 50%; background: #4e555b; position: absolute; top: -10px; left: -10px; }

.front.laboratory-keyboard ul > div div { border-radius: 50%; }

.front.laboratory-keyboard ul > div div:nth-of-type(1) { position: absolute; width: 40px; height: 40px; background: #1e90ff; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); line-height: 40px; text-align: center; font-size: 26px; }

.front.laboratory-keyboard ul > div div:hover { background: #1e90ff; }

.front.laboratory-keyboard ul > div div:nth-of-type(2) { position: absolute; width: 40px; height: 40px; left: 0; top: 50%; transform: translateY(-50%); line-height: 40px; text-align: center; font-size: 26px; }

.front.laboratory-keyboard ul > div div:nth-of-type(3) { position: absolute; width: 40px; height: 40px; left: 50%; top: 0; transform: translateX(-50%); line-height: 40px; text-align: center; font-size: 26px; }

.front.laboratory-keyboard ul > div div:nth-of-type(4) { position: absolute; width: 40px; height: 40px; right: 0; top: 50%; transform: translateY(-50%); line-height: 40px; text-align: center; font-size: 26px; }

.front.laboratory-keyboard ul > div div:nth-of-type(5) { position: absolute; width: 40px; height: 40px; left: 50%; bottom: 0; transform: translateX(-50%); line-height: 40px; text-align: center; font-size: 26px; }

.front.laboratory-keyboard ul li { font-size: 28px; float: left; width: 100px; height: 100px; text-align: center; border-radius: 50%; margin: 5px; cursor: pointer; }

.front.laboratory-keyboard ul li span { display: block; }

.front.laboratory-keyboard ul li span:nth-of-type(1) { line-height: 50px; }

.front.laboratory-keyboard ul li span:nth-of-type(2) { font-size: 20px; }

.front.laboratory-keyboard ul li.current { background: #4e555b; }
