<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>BioLab_font - laboratory - warn</title>
<link rel="stylesheet" charset="utf-8" href="./app.sass.css" />
<link rel="stylesheet" charset="utf-8" href="../iconfont/app.sass.css" />
</head>
<body>

  <div class="BioLab_font laboratory-warn" ng-if="inited">
    <div class="into" ng-show="into" >
      <audio controls="controls" autoplay="autoplay" hidden="false">
        <!--<source src="http://sc1.111ttt.cn/2018/1/03/13/396131232171.mp3" type="audio/mpeg" />-->
      </audio>
      <div class="content">
        <div class="del" style="color: #f00">当前设备正在报警情况</div>
        <div class="warnAction">
          <div class="name">
            <p ng-repeat="a in warn"><span>{{a.device_obj.name}}</span><span>{{a.content}}</span></p>
          </div>
        </div>
        <div class="action">
          <div class="btn styles" ng-click="submit()">忽略全部</div>
          <div class="btn cancel" ng-click="cancel()">取消</div>
        </div>
      </div>
      <div class="cover2"></div>
    </div>
  </div><!-- BioLab_font -->

</body>
</html>
