<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>front - laboratory - footer</title>
<link rel="stylesheet" charset="utf-8" href="./app.sass.css" />
<link rel="stylesheet" charset="utf-8" href="../iconfont/app.sass.css" />
</head>
<body>

    <div class="front laboratory-footer" ng-if="inited">
        <div class="fl"><img src="../static/images/bg-1.gif" width="100%"></div>
        <marquee behavior="scroll">思科德科技提醒您，当前设备{{situation}}</marquee>
        <div class="fr"><img src="../static/images/bg-1.gif" width="100%"></div>
    </div><!-- front -->

</body>
</html>
